.main {
  display: flex;
  flex-direction: column;
  margin: 7% 5%;

  .title {
    font-weight: 600;
  }

  .cardContainer {
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
    margin: 0;

    .item {
      padding: 0;
    }
  }
}