.main {
  display: flex;
  flex-direction: column;
  margin: 7% 5%;
  padding-bottom: 103px;

  .title {
    font-weight: 600;
  }

  .cardContainer {
    margin: 0;
    width: 100%;
    gap: 20px;
    margin: 40px auto 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 700px) {
  .main {
    .cardContainer {
      margin-bottom: 10%;
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    .title {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 460px) {
  .main {
    padding-bottom: 200px;

    .cardContainer {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 400px) {
  .main {
    .title {
      font-size: 24px;
    }
  }
}