<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Slider</title>
  </head>
  <body>
    <div class="slider">
      <button class="slider__arrow-prev arrow"></button>
      <div class="slider__container">
        <ul class="slider__list list">
          <li class="list__item">
            <div
              class="list__image"
              style="background-image: url('../images/1.jpg')"
            ></div>
          </li>
          <li class="list__item">
            <div
              class="list__image"
              style="background-image: url('../images/2.jpg')"
            ></div>
          </li>
          <li class="list__item">
            <div
              class="list__image"
              style="background-image: url('../images/3.jpg')"
            ></div>
          </li>
          <li class="list__item">
            <div
              class="list__image"
              style="background-image: url('../images/4.jpg')"
            ></div>
          </li>
          <li class="list__item">
            <div
              class="list__image"
              style="background-image: url('../images/5.jpg')"
            ></div>
          </li>
          <li class="list__item">
            <div
              class="list__image"
              style="background-image: url('../images/6.jpg')"
            ></div>
          </li>
          <li class="list__item">
            <div
              class="list__image"
              style="background-image: url('../images/7.jpg')"
            ></div>
          </li>
          <li class="list__item">
            <div
              class="list__image"
              style="background-image: url('../images/8.jpg')"
            ></div>
          </li>
          <li class="list__item">
            <div
              class="list__image"
              style="background-image: url('../images/9.jpg')"
            ></div>
          </li>
          <li class="list__item">
            <div
              class="list__image"
              style="background-image: url('../images/10.jpg')"
            ></div>
          </li>
        </ul>
      </div>
      <button class="slider__arrow-next arrow"></button>
      <ul class="slider__dots list"></ul>
    </div>
    <script type="module" src="../scripts/index.js"></script>
  </body>
</html>
