.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: auto;
  box-sizing: border-box;

  .flexWrapper {
    flex-direction: column;
    align-items: start;
    padding: 10px 0 10px 30px;

    .logo {
      max-width: 250px;
      max-height: 30px;
      padding: 5px 0;
    }

    .info {
      font-size: 14px;
    }

    .linkWrapper {
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }

      .link {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .footer {
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 0;

    .flexWrapper {
      padding: 0;
      align-items: center;
    }
  }
}