.search {
  padding: 0;
  justify-content: space-between;
  margin-bottom: 50px;

  .textField {
    width: 80%;
  }

  .btn {
    width: 15%;
  }
}

@media screen and (max-width: 400px) {
  .search {
    .textField {
      width: 75%;
    }
    
    .btn {
      font-size: 12px;
    }
  }
}